* {
    margin: 0;
    padding: 0;
}

:root {
    --vw-lg: 1920px;
    --vw-md: 1366px;
    --vw-sm: 600px;
    --primary_background: white;
    --secondary_background: #2568FB;
    --header_color: white;
    --default-font-color: black;
    font-size: 12px;
    font-family: Sans-serif;
}

a {
    text-decoration: none;
}

header a:visited {
    text-decoration: none;
    color: var(--default-font-color);
}

main a:visited {
    text-decoration: none;
    color: var(--default-font-color);
}

ol, ul {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

img {
    border-radius: 2em;
}

body {
    color: var(--secondary_color);
}

header {
    background-color: var(--header_color);
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
}

footer {
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
    font-size: 1.5em;
}

header > section * {
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--header_color);
}


header > section > ol {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2px;
}

#name_cn {
    /* border: 1px solid black; */
    display: inline-block;
    grid-row: 1 / span 2;
    grid-column: 1;
}

#name {
    font-size: 3em;
    /* border: 1px solid black; */
    display: inline-block;
    grid-row: 1 / span 2;
    grid-column: 2;
}

#pronounce {
    margin-top: auto;
    margin-bottom: auto;
    /* border: 1px solid black; */
    grid-row: 1;
    grid-column: 3;
}

#audio {
    /* border: 1px solid black; */
    grid-row: 2;
    grid-column: 3;

}

#audio > p > audio{
    width: 10em;
}

#quote {
    /* border: 1px solid black; */
    display: inline-block;
    grid-row: 3;
    grid-column: 1 / span 4;
    text-align: center;
    color: black;
    font-size: 1.5em;
}


#homeDir {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1em;
    font-size: 3em;
    border-radius: 1em;
}

main {
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    background-color: var(--primary_background);
}

main > img {
    margin-left: auto;
    margin-right: 1em;
}

main > section {
    margin-left: 1em;
    margin-right: auto;
}

.main_button {
    border: 1px solid black;
    padding: 0.1em;
    font-size: 0.5em;
}

ol {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

ol a {
    display: block;
    margin: 0.1em;
    padding: 0.5em 1em;
}

main ol a:hover{
    background-color: #555;
    color: white;
}

footer > ul {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

footer > ul #legal {
    grid-row: 1;
    grid-column: 1 / span 10;
}

header > section > ol > li > h1 {
    color: black;
    animation-name: name;
}

@keyframes name {
    from {color: black;}
    to {color: blue;}
}

#profile_pic:hover {
    content: url('asset/profile-3.png'); 
    /* transition: 1s; */
}